
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="container">
        <form action="#" th:action="@{/mvc/client/save}" th:object="${clientDto}"
              method="POST">
            <label>Dish Id: </label>
            <input type="text"
                   readonly="readonly"
                   th:field="*{id}">
            <div class="form-group">
                <label for="firstName">Name of the dish</label><span style="color:red; font_weight:bold">*</span>
                <input type="text" class="form-control"
                       name="firstName"
                       id="firstName"
                       placeholder="firstName"
                       th:field="*{firstName}">
            </div>
            <div class="form-group">
                <label for="lastName">Name of the dish</label><span style="color:red; font_weight:bold">*</span>
                <input type="text" class="form-control"
                       name="lastName"
                       id="lastName"
                       placeholder="lastName"
                       th:field="*{lastName}">
            </div>
            <div class="form-group">
                <label for="dateVisited">Price</label><span style="color:red; font_weight:bold">*</span>

                <input type="text" class="form-control"
                       name="dateVisited"
                       id="dateVisited"
                       placeholder="dateVisited"
                       th:field="*{dateVisited}">
            </div>
            <div class="form-footer">
                <button class="btn btn-primary">Save</button>
            </div>
        </form>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
    </body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--        <title></title>-->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"-->
<!--              crossorigin="anonymous">-->
<!--    </head>-->
<!--    <body class="container">-->
<!--        <form action="#" th:action="@{/mvc/products/save}" th:object="${product}" method="POST">-->
<!--            <input type="text"-->
<!--                   id="id"-->
<!--                   disabled="disabled"-->
<!--                   th:field="*{id}">-->
<!--            <label for="clientId">Client Id: </label>-->
<!--            <input type="text"-->
<!--                   id="clientId"-->
<!--                   disabled="disabled"-->
<!--                   th:field="*{clientId}">-->
<!--            <div class="form-group">-->
<!--                <label for="dishName">Name of the dish</label>-->
<!--                <input type="text" class="form-control"-->
<!--                       name="name"-->
<!--                       id="dishName"-->
<!--                       placeholder="Name of the dish"-->
<!--                       th:field="*{name}">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="price">Price</label>-->
<!--                <input type="text" class="form-control"-->
<!--                       name="price"-->
<!--                       id="price"-->
<!--                       placeholder="Price"-->
<!--                       th:field="*{price}">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="descriptions">Description</label>-->
<!--                <input type="text" class="form-control"-->
<!--                       name="descriptions"-->
<!--                       id="descriptions"-->
<!--                       placeholder="Descriptions"-->
<!--                       th:field="*{description}">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label for="preparation">Preparation</label>-->
<!--                <input type="text" class="form-control"-->
<!--                       name="preparation"-->
<!--                       id="preparation"-->
<!--                       placeholder="Preparation"-->
<!--                       th:field="*{preparation}">-->
<!--            </div>-->
<!--            <div class="form-footer">-->
<!--                <button class="btn btn-primary" type="submit">Save</button>-->
<!--            </div>-->
<!--        </form>-->
<!--        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--                crossorigin="anonymous"></script>-->
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--                crossorigin="anonymous"></script>-->
<!--        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--                crossorigin="anonymous"></script>-->
<!--    </body>-->
<!--</html>-->